@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Consulta de Clima</h1>
    
    <p>
        <a href="@Url.Action("Index","Weather")">CONSULTAR EL CLIMA</a>
    </p>

</div>
